@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Open+Sans:400,600,700');

:root {
  --colorPrune: #6E0D25;
  --colorDarkOrange: #FF8811;
  --colorSpartanCrimson: #A31717;
  --colorYellowOrange: #F4AC45;
  --colorPineapple: #51355A;
  --colorBrownYellow: #CE8D66;

  --navRowDir: column;
  --eventRowDir: column;
  --pastorRowDir: column;
  --footerContactDir: column;
  --eventCalRowDir: column;

  --activeLinkPlace: 1;
  --calMargBottom: 0.7em;
  --calMargRight: 0em;
  --emailRowH2Size: 2.2em;
  --topFooterPadding: 1em;
  --rightFooterPadding: 1em;
  --bottomFooterPadding: 1em;
  --leftFooterPadding: 1em;
  --socialMediaLinkSize: 30px;

}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

/*****************************************
RESPONSIVE LARGER SCREEN SECTION
******************************************/

@media (min-width: 850px) {
  .showcase::after {
    transition: all 1000ms;
  }

  .showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  .showcase:hover .content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  :root {
    --navRowDir: row;
    --eventRowDir: row;
    --pastorRowDir: row;
    --footerContactDir: row;
    --eventCalRowDir: row;

    --activeLinkPlace: 0;
    --calMargBottom: 0em;
    --calMargRight: 1.7em;
    --emailRowH2Size: 3.5em;
    --socialMediaLinkSize: 25px;
    --topFooterPadding: 3em;
    --rightFooterPadding: 2em;
    --bottomFooterPadding: 0em;
    --leftFooterPadding: 2em;
  }
/*
Sticky nav bar to remain at top during scroll for large screen view

  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
*/

  nav ul {
    justify-content: center;
  }

  nav ul li:last-child {
    padding-right: 1em;
  }

  nav a:hover, footer a:hover {
    color: var(--colorDarkOrange);
  }

  #contact-links {
    width: 100%;
  }

  #contact-links div {
    flex: 1;
  }

  .sm_links {
    width: 100%;
    justify-content: center;
  }

  #copyrightRow {
    width: 100%;
    justify-content: center;
  }

}

/*****************************************
END OF RESPONSIVE SECTION
******************************************/

a {
  text-decoration: none;
  color: white;
}

#activeLink {
  color: var(--colorDarkOrange);
}

#active-li {
  order: var(--activeLinkPlace);
}

button:hover {
  cursor: pointer;
}

/*****************************************
HERO/WELCOME SECTION
******************************************/

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase::after {
  content:'';
  height: 70vh;
  width: 100%;
  background-image: url(benches-chapel_237kb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.content {
  position: absolute;
  z-index: 1;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .logo {
  height: 83pt;
  width: 70pt;
}

.content .title {
  font-size: 2.1rem;
  margin-top: 1rem;
  text-shadow: 0px 0px 5px black;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

/*****************************************
MAIN SECTION
******************************************/

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
}

/*****************************************
NAV
******************************************/

nav {
  flex: 1;
  border-bottom: 0.2em solid var(--colorSpartanCrimson);
  border-top: 0.2em solid var(--colorSpartanCrimson);
  background-color: var(--colorPrune);
  
  font-family: "Open Sans";
  font-size: 0.8em;
}

nav > ul {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  flex-direction: var(--navRowDir);
  padding: 0;
  margin: 0;
}

nav > ul > li {
  padding: 0.3em;
}

ul {
  list-style-type: none;
}

/*****************************************
ARTICLE/EVENT SECTION
******************************************/

#event-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--colorYellowOrange);
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1.5em;
}

#cal-events {
  display: flex;
  flex-direction: var(--eventCalRowDir);
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 80%;
}

#cal-events div {
  flex: 1;
  width: 80%;
  margin-bottom: var(--calMargBottom);
  margin-right: var(--calMargRight);
  padding: 0.5em;
  border-radius: 1em;

  background-color: #6E0D25;
  color: var(--colorYellowOrange);
  text-shadow: 0px 0px 5px black;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 7px 6px rgba(0,0,0,0.23);

  background: linear-gradient(to bottom,var(--colorSpartanCrimson), var(--colorPineapple), var(--colorPrune));
}

#event-section hr {
  border: 2px solid var(--colorSpartanCrimson);
  width: 55%;
  margin-bottom: 2em;
  padding: 0;
}

#event-section h2 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 1.8em;
  font-weight: bold;
  color: var(--colorSpartanCrimson);
  margin-bottom: 0.3em;
  text-shadow: 3px 3px 3px var(--colorDarkOrange);
  text-align: center;
}

#event-section h3 {
  font-weight: bold;
  font-size: 2.2em;
}

#event-section h4 {
  font-weight: bold;
  font-size: 5.2em;
}

#event-section h4, #event-section h3 {
  margin: 0;
}

#event-section p {
  color: white;
  margin: 0;
  font-size: 1.5em;
}

/*****************************************
ARTICLE/WATCH SECTION
******************************************/

.watchVids {
  text-transform: uppercase;
  display: flex;
  color: white;
  flex-direction: column;
  background-color: var(--colorDarkOrange);
  align-items: center;
  text-align: center;
  padding: 1em;
  text-shadow: 3px 3px 3px black;

}

.btn {
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 1px 1px black;

  color: white;
  background-color: var(--colorPineapple);
  border: none;

  width: 12em;
}

/*****************************************
ARTICLE/BISHOP FEATURE SECTION
******************************************/

.pastorFeatureRow {
  display: flex;
  flex: 1;
  flex-direction: var(--pastorRowDir);
  background-color: white;
  color: black;
}

.pastorFeatureBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.pastorFeatureBox > img {
  width: 70%;
  height: auto;
}

/*****************************************
EMAIL SIGN UP SECTION
******************************************/

.emailRow {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url("apple-devices79kb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 2em;
}

.emailRow h2 {
  font-size: var(--emailRowH2Size);
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 0.3em;
  text-shadow: 2px 5px 15px black;
}

.emailForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.emailForm > input[type="text"] {
  flex: 8;
  border: none;
  padding: 1.2em;
  text-align: center;
  width: 70%;
  font-size: 0.9em;
}

.emailForm > button {
  flex: 1;

  padding: 1rem;
  font-weight: bold;
  border: none;
  background-color: var(--colorDarkOrange);
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 1em;
  width: 40%;
  border-radius: 0.2em;
  text-shadow: 2px 1px 1px black;
}

/*****************************************
FOOTER SECTION
******************************************/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--topFooterPadding) var(--rightFooterPadding) var(--bottomFooterPadding) var(--leftFooterPadding);
  text-align: center;
  background-color: rgb(104, 99, 99);
  color: white;
  text-shadow: 0px 0px 2px black;
}

footer a {
  color: white;
}

#contact-links {
  display: flex;
  flex-direction: var(--footerContactDir);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.social-link {
  margin: 1em;
  font-size: var(--socialMediaLinkSize);
}

#copyrightRow {
  font-size: 15px;
}
